.habit-item {
  color: green;
}

.master {
  width: 100%;
}

table {
  width: 100%;
}

th:first-child {
  width: 100px;
  display: table;
}

.l0 {
  background: grey;
}

.l1 {
  background: #83d47c;
}

.l1 + .l1 {
  background: orange;
}

.l1 + .l1 + .l1 {
  background: red;
}

.l2 {
  background: #58b94f;
}

.l3 {
  background: #46913f;
}

td:last-child {
  text-align: center;
}
