.master {
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  color: white;
  font-weight: 300;
}

td {
  text-align: center;
  padding-bottom: 16px;
}

th:first-child,
td:first-child {
  width: 100px;
}

.circle {
  width: 40%;
  border-radius: 50%;
  display: block;
  background: #9ba0d9;
  position: relative;
  height: 100%;
  margin: auto;
}

.circle:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.l0 .circle {
  width: 40%;
}

.l1 .circle {
  width: 60%;
  background: white;
}

.l1 + .l1 .circle {
  width: 80%;
}

.l1 + .l1 + .l1 .circle {
  width: 100%;
}

.l2 {
  background: #58b94f;
}

.l3 {
  background: #46913f;
}

td:last-child {
  text-align: center;
}

th.weekend {
  font-weight: 600;
}
