.master {
  width: 100%;
}

table {
  table-layout: fixed;
  margin-left: -20px;
  width: calc(100% + 20px);
}

th {
  font-size: 14px;
}

th,
td {
  color: white;
  font-weight: 300;
}

td {
  text-align: center;
  padding-bottom: 16px;
}

th:first-child,
.data-row td:first-child {
  /* text-align: left;
  display: block;
  margin-top: -20px;
  margin-left: 20px;
  width: 100%;
  position: fixed; */
}

.data-row {
  height: 60px;
}

@media only screen and (min-width: 500px) {
  th:first-child,
  .data-row td:first-child {
    /* display: table-cell;
    margin-top: 0; */
  }

  .data-row {
    height: auto;
  }
}

.circle {
  border-radius: 30%;
  display: block;
  background: #3e3e3e;
  position: relative;
  height: 100%;
  margin: auto;
}

.circle:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.l0 .circle {
  /*width: 60%;*/
}

.l1 .circle {
  background: rgb(255, 235, 61);
  opacity: 0.5;
  width: 100%;
}

.l1 + .l1 .circle {
  /*background: rgba(255, 235, 61, 0.7);*/
  opacity: 0.7;
}

.l1 + .l1 + .l1 .circle {
  /*background: rgba(255, 235, 61, 1);*/
  opacity: 1;
}

tr.data-row:nth-of-type(1) .l1 .circle {
  background: rgb(16 255 88);
}

tr.data-row:nth-of-type(2) .l1 .circle {
  background: rgb(34 240 255);
}

tr.data-row:nth-of-type(3) .l1 .circle {
  background: rgb(255 114 45);
}

tr.data-row:nth-of-type(4) .l1 .circle {
  background: rgb(255 62 171);
}

tr.data-row:nth-of-type(5) .l1 .circle {
  background: rgb(255 163 39);
}

.l2 {
  background: #58b94f;
}

.l3 {
  background: #46913f;
}

td:last-child {
  text-align: center;
}

th.weekend {
  font-weight: 600;
  color: #6fba00;
}

th:last-child {
  color: #16d0e9;
}
