html,
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

.main {
  padding: 16px;
  background: rgb(56, 56, 56);
  background: linear-gradient(151deg, rgb(44 44 44) 0%, rgb(15 15 15) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  color: white;
}

.heading {
  font-weight: 300;
}
